.serpiente{
    background-image: url('../assets/rattlesnake-159135.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.buho{
    background-image: url('../assets/owl-47526.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.dragon{
    background-image: url('../assets/dragon-1597597_1280.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.balon{
    background-image: url('../assets/basketball-155997.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.violin{
    background-image: url('../assets/violin-156558.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}




